{% extends 'back_office/back_office_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
    {% trans "Student Form" %}
{% endblock %}
{% block container %}
    <form method="post">{% csrf_token %}
        {% crispy user_form %}
        {% crispy form %}
        <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            {% trans "Save" %}
        </button>
    </form>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/moment-with-locales.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="application/javascript">
    $(function(){
        $(".dateinput").datetimepicker({
            format: 'dd/mm/yyyy',
            minView: 'month',
            maxView: 'decade',
            autoclose: true
        });
    });
    </script>
{% endblock %}
