{% extends 'back_office/back_office_base.html' %}
{% load i18n %}
{% load bootstrap_label %}
{% block title %}
{% trans "Students" %}
{% endblock %}
{% block container %}
<div class="row">
    <div class="col-md-8">
        <a class="btn btn-default" href="{% url 'student-new' %}">
            {% trans "New Studnet" %}
        </a>
    </div>
    <div class="col-md-4">
        <form class="form-inline" method="get">
            <div class="input-group">
                <input type="text" id='q' name='q' class="form-control" placeholder="{% trans "Search" %}">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% if students %}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>{% trans "ID" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Civil ID" %}</th>
            <th>{% trans "Gender" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Mobile#" %}</th>
            <th>{% trans "Parent#" %}</th>
            <th>{% trans "Class" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for studnet in students %}
        <tr>
            <td>
                <a href="{% url 'student-detail' studnet.pk %}">
                    {{ studnet.pk }}
                </a>
            </td>
            <td>
                <a href="{% url 'student-detail' studnet.pk %}">
                    {{ studnet.user.get_full_name }}
                </a>
            </td>
            <td>{{ studnet.civil_id }}</td>
            <td>{{ studnet.get_gender_display }}</td>
            <td>{{ studnet.get_status_display | student_status_label}}</td>
            <td>{{ studnet.mobile_number }}</td>
            <td>{{ studnet.parent_number }}</td>
            <td>{{ studnet.halaqat_class }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "parts/paginator.html" %}
{% else %}
<p class="lead">{% trans "No Students to display" %}</p>
{% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}
