{% extends "base.html" %}
{% load i18n %}
{% block container %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{{ form.errors }}
{% endif %}

<div class="jumbotron">
    <h1>{% trans "Login" %}</h1>
    <form method="post" action="{% url 'login' %}" class="form-horizontal login-screen">
        {% csrf_token %}
        <div class="form-group">
            <label for="username" class="col-lg-2 control-label">{% trans "Username" %}</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">{% trans "Password" %}</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
            </div>
        </div>
        <input type="hidden" name="next" value="{{next}}" />
    </from>
</div>
{% endblock %}
