{% extends 'back_office/back_office_base.html' %}
{% load i18n %}
{% block title %}
    {% trans "Classes" %}
{% endblock %}

{% block container %}
    {% if classes %}
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Gender" %}</th>
                <th colspan="2">{% trans "1st Semester" %}</th>
                <th colspan="2">{% trans "2nd Semester" %}</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>{% trans "Start Date" %}</th>
                <th>{% trans "End Date" %}</th>
                <th>{% trans "Start Date" %}</th>
                <th>{% trans "End Date" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for class in classes %}
                <td><a href="{% url 'class-detail' class.pk %}">
                    {{ class.name }}
                </a>
                </td>
                <td>{{ class.type }}</td>
                <td>{{ class.get_gender_display }}</td>
                <td>{{ class.first_semester_start }}</td>
                <td>{{ class.first_semester_end }}</td>
                <td>{{ class.second_semester_start }}</td>
                <td>{{ class.second_semester_end }}</td>
            {% endfor %}

            </tbody>
        </table>
    {% else %}
        <p class="lead">{% trans "No classes to display" %}</p>
    {% endif %}
{% endblock %}
