{% extends 'back_office/back_office_base.html' %}

{% block title %}
    Teachers
{% endblock %}

{% block container %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Gender</th>
            <th>Civil ID</th>
            <th>Phone#</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <td><a href="{% url 'teacher_details' teacher.pk %}">
                {{ teacher.user.first_name }} {{ teacher.user.last_name }}
            </a>
            </td>
            <td>{{ teacher.user.email }}</td>
            <td>{{ teacher.user.username }}</td>
            <td>{{ teacher.get_gender_display }}</td>
            <td>{{ teacher.civil_id }}</td>
            <td>{{ teacher.phone_number }}</td>
            <td>{{ teacher.job_title }}</td>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}