{% extends 'back_office/back_office_base.html' %}
{% load i18n %}
{% block title %}
    {% trans "Teachers" %}
{% endblock %}
{% block container %}
    {% if teachers %}
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Username" %}</th>
                <th>{% trans "Gender" %}</th>
                <th>{% trans "Civil ID" %}</th>
                <th>{% trans "Phone#" %}</th>
                <th>{% trans "Title" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for teacher in teachers %}
                <tr>
                    <td><a href="{% url 'teacher-detail' teacher.pk %}">
                        {{ teacher.user.first_name }} {{ teacher.user.last_name }}
                    </a>
                    </td>
                    <td>{{ teacher.user.email }}</td>
                    <td>{{ teacher.user.username }}</td>
                    <td>{{ teacher.get_gender_display }}</td>
                    <td>{{ teacher.civil_id }}</td>
                    <td>{{ teacher.phone_number }}</td>
                    <td>{{ teacher.job_title }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% else %}
        <p class="lead">{% trans "No teacher information to display" %}</p>
    {% endif %}
{% endblock %}
